@import "post.css";
@import "index.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 30px;
    height: 150px;
    font-weight: 400;
    background: #F8F9F9
}

span {
    font-weight: 800;
}

a{
    text-decoration: none;
}
